<div class="mx-auto md:w-2/3 w-full">
  <h2>Editing contestant</h1>

  <%= render "form", contestant: @contestant %>
  <%= button_to "<< Back to contestants", contestants_path, method: :get, class: "back-btn" %>
</div>
