<%= render @team %>

<% if @team.contestants.present? %>
  <h3>Contestants</h3>
  <div class="flex-gap">
    <% @team.contestants.each do |contestant| %>
      <div><%= render partial: "contestants/contestant_card", locals: { contestant: contestant } %></li>
    <% end %>
  </div>
<% end %>

  <%= render partial: "shared/buttons", locals: { object: @team } %>