<%= render @user %>
<%= render partial: "shared/buttons", locals:{object: @user} %>


<% if @user.teams.present? %>
  <h3> Teams </h3>
  <div class="flex-gap">
    <% @user.teams.each do |team| %>
      <div><%= render partial: "teams/team_card", locals: { team: team } %></div>
    <% end %>
  </div>
<% end %>