<div class="mx-auto md:w-2/3 w-full">
  <h2>Editing division</h2>

  <%= render "form", division: @division %>
  <%= button_to "<< Back to Divisions", division_path, method: :get, class: "back-btn" %>
</div>
