<%= render @division %>

<div class="contestant-container grid gap-4">
  <% @division.contestants.each do |contestant| %>
    <%= render "contestants/contestant_mini", contestant: contestant %>
  <% end %>
</div>

<%= render partial: "shared/buttons", locals: {object: @division} %>