<h2>Events</h2>
<br/>

<div id="events">
  <table>
    <thead class="bg-gray-100">
      <tr>
      <th>Title</th>
      <th>Banner</th>
      <th>Season</th>
      <th>Season Start</th>
      <th>Season End</th>
      <th colspan="2"></th>
    </tr>
    <tbody>
      <% @events.each do |event| %>
        <%= render "event_row", event: event %>
      <% end %>
    </tbody>
   </table>
</div>

<%= render partial: "shared/buttons" %>
