<%= render @event %>
<div class="flex">
  <%= button_to "<< Back to events", events_path, method: :get, class: "back-btn" %>
  <%= button_to "Edit this event", edit_event_path(@event), method: :get, class: "edit-btn" %>
  <%= button_to "Destroy this event", @event, method: :delete, class: "destroy-btn" %>
</div>
