<%= render @event %>

<% if @event.contestants.present?%>
  <h3>Contestants</h3> 
  <%= button_to "Edit Contestants", event_upsert_contestants_path(@event), method: :get, class: "edit-btn" %>
  <div class="contestant-container grid gap-4">
    <% @event.contestants.each do |contestant| %>
      <%= render "contestants/contestant_mini", contestant: contestant %>
    <% end %>
  </div>
<% end %>

<%= render partial: "shared/buttons", locals: {object: @event, object_type: "event"} %>
