<tr>
  <td>
    <%= rule.condition %>
  </td>
  <td>
    <%= rule.points %>
  </td>
  <td>
  <td>
    <%= link_to "Show", rule, class: "show-link" %>
  </td>
  <td>
    <%= link_to "Edit", edit_rule_path(rule), class: "edit-link" %>
  </td>
