<p style="color: green"><%= notice %></p>
<h2>Shows</h1>
<br/>

<div id="shows">
  <table>
    <thead class="bg-gray-100">
      <tr>
      <th>Title</th>
      <th>Banner</th>
      <th>Season</th>
      <th>Season Start</th>
      <th>Season End</th>
      <th colspan="2"></th>
    </tr>
    <tbody>
      <% @shows.each do |show| %>
        <%= render "show_row", show: show %>
      <% end %>
    </tbody>
   </table>
</div>

<%= link_to "New show", new_show_path, class: "new-link" %>
